POSTGRES_PASSWORD=your_postgres_password
MINIO_ROOT_USER=your_minio_username
MINIO_ROOT_PASSWORD=your_minio_password
JWT_SECRET=your_jwt_secret
MINIO_BUCKET=your_object_store_bucket_name
MINIO_ACCESS_KEY=same_as_MINIO_ROOT_USER
MINIO_SECRET_KEY=same_as_MINIO_ROOT_PASSWORD